.layout {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
}

.main {
  /* Убираем padding-top, чтобы не дублировать отступы страниц */
  padding-top: 0;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    padding-top: 0;
  }
}